header{
  background-color: #FF8C00;
  padding: 16px 0;
  text-align: center;
}

header h1{
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  margin-left: 2px;
}

footer{
  background-color: #ccc;
  clear: both;
  color:#333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: beige;
  margin: 0;
  padding: 0;
}

.holder{
  max-width: 960px;
  margin: 0 auto;
}

h2{
  color: #2e64a1;
  font-weight: 400;
  
}

.fotoprincipal{
  width: 200px;
  height: 200px;
  border-radius: 200px 200px 200px 200px;
}
