body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: beige;
}

header{
    background-color: #FF8C00;
    padding: 16px 0;
}

header h1{
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 2px;
}

.fotoprincipal{
    width: 200px;
    height: 200px;
    border-radius: 200px 200px 200px 200px;
}

nav{
    background-color: gold;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

footer{
    background-color: #ccc;
    clear: both;
    color:#333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}